.article-read-more,
.article-info {
  font-size: 0.875rem;
}

.article-recent {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
  }
  
  .article-recent-main {
    order: 2;
  }
  
  .article-recent-secondary {
    order: 1;
  }
  
  @media (min-width: 675px) {
    .article-recent {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .article-recent-main {
      width: 68%;
    }
  
    .article-recent-secondary {
      width: 30%;
    }
  
    .article-featured {
      display: flex;
      flex-direction: column;
    }
  
    .article-image {
      order: -2;
      min-height: 250px;
      object-fit: cover;
      /* let the photo when scrolled become more fit.*/
      /* object-position: left; */
    }
  
    .article-info {
      order: -1;
    }
  }